/* Main menu setup */
.menu__wrapper.main__menu {
  width: 471px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  flex-direction: column;
  text-align: left;
  background: #b02931;
  border: solid 0px white;
  z-index: 9999;
  overflow: hidden;
  right: -1000px;
  transition: right 0.7s cubic-bezier(0.86, 0, 0.07, 1);
  box-shadow: -4px 1px 12px -5px rgba(0, 0, 0, 0.75);
}
.menu__wrapper.main__menu:after {
  background: url("../../images/menu/bruin-transparent.png");
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% 70px;
}
.menu__wrapper.main__menu .list__element h5 {
  padding-right: 35px;
}
.menu__wrapper.main__menu ol {
  display: flex;
  justify-content: unset;
  align-items: flex-end;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  flex-direction: column;
  text-align: right;
  z-index: 9;
}
.menu__wrapper.main__menu ol li {
  margin: 12.5px 0px 19.5px 20px;
  width: 100%;
  position: relative;
}
.menu__wrapper.main__menu ol li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #a3a3a3;
  position: absolute;
  left: 0;
  opacity: 0.8;
  top: 50px;
}
.menu__wrapper.main__menu ol li a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 29.21px;
  line-height: 40.5px;
}
.menu__wrapper.main__menu ol li p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 800;
}
.menu__wrapper.main__menu.--dark ol li a {
  color: white;
}
.list__element .current__page {
  position: relative;
}
.list__element .current__page:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -2px;
  left: 0;
  right: 0;
  background: #d13368;
}
.menu__close__button {
  position: absolute;
  left: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  z-index: 9;
  outline: none;
}
.menu__close__button:hover {
  opacity: 1;
}
.menu__close__button:before,
.menu__close__button:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 5px;
  background-color: #ffffff;
}
.menu__close__button:before {
  transform: rotate(45deg);
}
.menu__close__button:after {
  transform: rotate(-45deg);
}
.menu__wrapper.main__menu.opened {
  right: 0px;
}
.main__menu .list__element p {
  padding-right: 5px;
}
.social_nav {
  list-style-type: none;
  display: flex;
  width: 258px;
  justify-content: flex-end;
  position: relative;
  z-index: 9;
  margin-top: 15px;
}
.social_nav .social__item {
  margin: 0 5px;
  cursor: pointer;
}
/* Responsive for main menu*/
@media (max-width: 1024px) {
  .menu__wrapper.main__menu {
    width: 50vw;
    height: 70vh;
  }
}
@media (max-width: 768px) {
  .social_nav .social__item {
    margin: 5px 25px;
  }
}
@media (max-width: 500px) {
  .menu__wrapper.main__menu {
    width: 100%;
    height: 100vh;
  }
  .menu__wrapper.main__menu ol li p {
    font-size: 15.21px;
  }
  .menu__wrapper.main__menu ol li {
    margin: 5px 0;
  }
  .menu__wrapper.main__menu ol li:after {
    top: 40px;
  }
  .social_nav {
    width: 205px;
  }
}
@media (max-width: 812px) and (orientation: landscape) {
  .menu__wrapper.main__menu {
    width: 100vw;
    height: 100vh;
  }
  .menu__wrapper.main__menu ol li {
    margin: 6.5px 0px 0.5px 20px;
  }
  .menu__wrapper.main__menu ol li:after {
    content: "";
    width: 100%;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    opacity: 0.5;
    top: 34px;
  }
  body .main__menu h4 {
    font-size: 1.13rem;
    font-weight: 500;
  }
}
