.top__menu a {
    color: white;
}
.top__menu__divider{
    height: 30.7px;
    width: 1.5px;
    background: white;
}
.top__menu a:hover{
    color: white;
}
.top__menu a p{
    font-family: 'Muli';
    font-weight: 900;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    line-height: 35.05px;
}
/* Responsive for top menu*/
@media(max-width: 500px){
    .top__menu__divider{
        margin: 0 5px!important;
        padding: 0;
    }
    .top__menu a p {
        font-size: 18px;
    }
    .menu__wrapper.main__menu ol li:after {
        top: 38px;
    }
}
@media(max-width: 360px){
    .top__menu a p {
        font-size: 14px;
    }

}