button{
    background: #b02931;
    color: white;
    padding: 16px 0px;
    letter-spacing: 1px;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    max-width: 231px;
    min-width: 231px;
    width: 100%;
}
.featured__wrapper button{
    width: 241px;
}
button a{
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
button:disabled{
    background: #767676;
}
button.dark-btn{
    border: solid 2px #b02931;
    background: transparent;
    margin-top: 20px;
}
button.md-btn{
    padding: 13px 0px;
    font-size: 21px;
}
button.small-btn{
    padding: 10px 45px;
    font-size: 18.87px;
}
/* arrow buttons */
.arrow__button{ 
    padding: 20px 50px;
    position: relative;
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
}
.arrow__button::before{
    width: 0;
    height: 0;
    border-top: 36px solid transparent;
    border-bottom: 36px solid transparent;
    border-left: 40px solid #767676;
    content: "";
    position: absolute;
    top: 0;
    right: -40px;
    z-index: 5;
}
.arrow__button.--active::before{
    width: 0;
    height: 0;
    border-top: 36px solid transparent;
    border-bottom: 36px solid transparent;
    border-left: 40px solid #b02831;
    content: "";
    position: absolute;
    top: 0;
    right: -40px;
    z-index: 5;
}
.arrow__button::after{
    width: 0;
    height: 0;
    border-top: 36px solid transparent;
    border-bottom: 36px solid transparent;
    border-left: 40px solid #ffffff;
    content: "";
    position: absolute;
    top: 0;
    right: -44px;
    z-index: 4;
}

.arrow__button.--square__end::after, .arrow__button.--square__end::before{ 
    display:none
}
.arrow__button.--active{
    background: #b02931;
}
@media(max-width: 1440px){
    .latest__news button.small-btn {
        padding: 10px 35px;
    }
}
@media(max-width: 1280px){
    .latest__news button.small-btn {
        padding: 10px 25px;
        font-size: 1.125rem;
    }
    button {
        padding: 15px 0px;
    }
}
@media (max-width: 1152px){
        .latest__news button.small-btn {
        padding: 8px 15px;
        font-size: 16px;
    }

}
@media (max-width: 1097px){
    button {
        padding: 15px 35px;
    }
}
@media(max-width: 1024px){
    .latest__news button.small-btn {
        padding: 10px 0px;
        font-size: 1rem;
    }
    button, button.md-btn {
        padding: 20px 0px;
        font-size: 16px;
    }
    button {
        padding: 15px 35px;
    }
}
@media (max-width: 800px){
    button {
        padding: 15px 30px;
    }
}
@media (max-width: 812px) and (orientation: landscape) {
    .latest__news button.small-btn {
        padding: 10px 22px;
        font-size: 0.8rem;
    }
}
@media (max-width: 768px){

}

@media (max-width: 500px){

    button.md-btn {
        padding: 15px 30px;
        font-size: 18px;
        width: 100%;
    }
    .latest__news button.small-btn {
        font-size: 22px;
        padding: 20px 35px;
    }
}
@media (max-width: 900px) and (orientation: landscape) {
    .media__page .featured__article {
        height: auto; 
    }
}

@media (max-width: 600px) and (orientation: landscape) {
    .latest__news button.small-btn {
        padding: 10px 15px;
        font-size: 10px;
    }
}