
.home__page .media__featured{
    min-height: 900px;
} 
.home__page .media__featured{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.home__page .clients__logos{
    position: relative;
    bottom: 0;
    padding: 0;
    bottom: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.home__page .our__approach h1{
    max-width: 500px;
}
.home__page .featured__section h4{
    font-family: "Muli";
    font-weight: normal;
    color: white;
}
.home__page .media__featured{
    color: white;
}
.home__page .latest__news .title p{
    font-family: "Muli";
    font-weight: normal;
    font-weight: 500;
    font-size: 26.83px;
    line-height: 32.2px;
    text-transform: uppercase;
}
.home__page .latest__news .content p{
    font-family: "Muli";
    font-weight: 700;
    font-style: normal;
    font-size: 16.68px;
    line-height: 26.2px;
    text-transform: unset!important;
}
.mix-blend{
    mix-blend-mode: difference;
}
.home__page .clients__logos img{
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.home__page .header__copy{
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-56%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    max-width: 1200px;
}
.home__page .popup-content {
    background: transparent!important;
    border: 0!important;
    max-width: 1100px!important;
    width: 100%!important;
}
.popup-content .close{
    position: absolute;
    right: 50px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    z-index: 9;
}
.popup-content .close:before, .popup-content .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 5px;
    background-color: #a5a5a5;
    top: 0;
}
.home__page .latest__article button{
    margin-top: 30px;
}
.popup-content .close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.popup-content .close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.home__page .popup__inner__background{
    position: absolute;
    width: 60%;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto!important;
}
.triangle__big {
    width: 0;
    height: 0;
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
    border-top: 32px solid #ccc;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
}
.triangle__small {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
}
.get__started{
    position: relative;
}
.get__started__content{
    z-index: 1;
    position: relative;
    color: white;
    padding: 100px 0;
}
.latest__news__wrapper{
    padding: 0 50px 30px;
}
.latest__news__wrapper {
    margin: 0 auto!important;
    max-width: 1480px;
}
.latest__article{
    padding: 0 30px;
}
.latest__article .title{
    min-height: 130px;
}
.latest__article .content{
    min-height: 60px;
    margin-top: 20px;
}
.latest__news .container{
    padding-top: 40px;
}
.home__page .our__approach{
    position: relative;
}
.floating__letter{
    position: absolute;
    top: 14%;
    left: -18%;
    z-index: 2;
    width: 100%;
}
.floating__letter img{
    width: 70%;
}
.home__page .our__approach .container{
    padding: 180px 0;
    padding-left: 0;
    padding-right: 0;
}
.home__page .our__approach h1, .home__page .our__approach h3, .home__page .our__approach button{
    z-index: 9;
    position: relative;
}
.home__page .our__approach p{
    padding: 10px 0 60px;
    line-height: 50px;
    font-weight: 500;
    z-index: 9;
    position: relative;
}
.home__page .featured__section h1, .home__page .featured__section h3, .home__page .featured__section p{
    color: white;
}
.home__page .featured__section .container {
    padding: 450px 0 60px 0;
}
.home__page .featured__section{
    margin-top: -450px;
}
@media(min-width: 1920px){
    .floating__letter {
        top: 13%;
        left: -28%;
    }
}
@media(max-width: 4000px){
    .floating__letter img {
        width: 50%;
    }
    .floating__letter {
        top: 13%;
        left: -8%;
        width: 70%;
    }
    .home__page .our__approach {
        position: relative;
        height: 2720px;
    }
    .home__page .featured__section {
        margin-top: -2310px;
    }
    .home__page .featured__section .container {
        padding: 1450px 0 60px 0;
    }
}

@media(max-width: 2000px){
    .home__page .featured__section .container {
        padding: 645px 0 60px 0;
    }
    .home__page .featured__section {
        margin-top: -2110px;
        height: 1370px;
    }
}
@media(max-width: 1920px){
    .home__page .featured__section {
        margin-top: -850px;
    }
    .floating__letter img {
        width: 70%;
    }
    .floating__letter {
        position: absolute;
        top: 14%;
        left: -28%;
        z-index: 2;
        width: 100%;
    }
    .home__page .our__approach {
        height: 1318px;
    }
    .home__page .featured__section .container {
        padding: 630px 0 60px;
    }
}
@media(max-width: 1600px){
    .home__page .our__approach {
        height: auto;
    }
    .home__page .featured__section {
        margin-top: -590px;
    }
    .home__page .featured__section .container {
        padding: 420px 0 60px;
    }
    .home__page .our__approach {
        height: 1073px;
    }
}
@media(max-width: 1440px){
    .latest__article .title {
        min-height: 170px;
    }
}
@media(max-width: 1280px){
    .latest__article .title  {
        min-height: 200px;
    }
    .latest__article .content {
        min-height: 130px;
    }
    button.small-btn {
        padding: 10px 25px;
        font-size: 1.125rem;
    }
}
@media(max-width: 1024px){
    .home__page .popup-content {
        max-width: 80%!important;
    }
    .latest__news__wrapper {
        padding: 20px 24px;
    }
    .home__page .slick-list{
        width: 100%;
    }
    button.small-btn {
        padding: 10px 21px;
        font-size: 1rem;
    }
    .latest__article .content {
        min-height: 140px;
        line-height: 1.2em;
    }
    .latest__article .title  {
        min-height: 110px;
    }
    .home__page .our__approach{
        padding: 0 80px!important;
    }
    .home__page .featured__section {
        padding: 0 80px 50!important;
    }
    .home__page .our__approach .container {
        padding: 100px 0 270px;
    }
    .home__page .featured__section .container{
        padding: 450px 0 80px;
    }
    .floating__letter img {
        width: 100%;
    }
    .floating__letter {
        top: 6%;
        left: -40%;
    }
    .home__page .latest__news .title p {
        font-size: 21.83px;
        line-height: 25.2px;
    }
}
@media(max-width: 768px){
    .home__page .popup-content {
        max-width: 80%!important;
    }
    .home__page .slick-list{
        width: 100%;
    }
    .featured__artitle__inner {
        width: 100%;
        top: 0;
        position: relative;
    }
    .featured__article__bottom.flex-end {
        justify-content: center;
    }
    .home__page .popup__inner__background {
        width: 100%;
        opacity: 0.5;
    }
    .latest__news__wrapper {
        padding: 24px 18px;
    }
    .home__page .popup-content {
        max-width: 95%!important;
    }
}
@media (max-width: 500px){
    .home__page .media__featured {
        min-height: 520px;
    }
    .latest__news__wrapper {
        padding: 18px 0px 30px;
    }
    .home__page .slick-list {
        position: relative;
        top: 0px;
    }
    .latest__news h1{
        padding: 0!important;
        text-align: center;
    }
    .featured__wrapper.slick-slider {
        min-height: auto;
    }
    .latest__article .title  {
        min-height: auto;
    }
    .latest__article .content {
        min-height: auto;
        line-height: 1.2em;
    }
    .home__page .header__copy {
        position: relative;
        top: 0px;
        transform: translateY(-0%);
        display: flex;
        padding: 60px 10px;
        max-width: 1200px;
        
    }
    .home__page .media__featured {
        justify-content: center;
    }
    .home__page .clients__logos {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .home__page .clients__logos .col{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        max-width: 50%;
        flex-grow: unset;
        flex-basis: unset;
    }
    .home__page .clients__logos img {
        margin: 5px 0;
        width: 100%;
    }
    .home__page .media__featured .header__copy h2 {
        text-align: center;
        margin-top: 70px;
    }
    .get__started__content {
        padding: 100px 40px;
    }
    .home__page .our__approach {
        padding: 0 30px!important;
    }
    .home__page .our__approach p {
        font-size: 16px;
        line-height: 40px;
    }
    .featured__wrapper .slick-arrow.slick-next {
        right: 10px;
        top: 28%;
    }
    .featured__wrapper .slick-arrow.slick-prev {
        left: 10px;
        top: 28%;
    }
    .latest__article {
        padding: 0 50px;
    }
    .home__page .latest__news .content p{
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 812px) and (orientation: landscape) {
    .latest__article .title  {
        min-height: 150px;
    }
    .latest__article .content {
        min-height: 150px;
    }
    button.small-btn {
        padding: 10px 22px;
        font-size: 0.8rem;
    }
    .featured__article{
        height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .featured__article {
        width: 100%;
    }
    .featured__artitle__inner {
        width: 90%;
        top: 0;
    }
    .featured__article__bottom.flex-end {
        justify-content: flex-start;
        z-index: 9;
    }
    .featured__artitle__inner {
        width: 90%;
        margin-top: 400px;
        position: relative;
        height: 260px;
    }
}
@media (max-width: 600px) and (orientation: landscape) {
    .home__page .media__featured {
        min-height: 360px;
    }
    .latest__article .title  {
        min-height: 80px;
        font-size: 15px;
    }
    .latest__article .content {
        min-height: 80px;
        font-size: 12px;
    }
    button.small-btn {
        padding: 10px 15px;
        font-size: 10px;
    }
    body h3 {
        font-size: 40px;
        line-height: 36.96px;
    }

    .featured__artitle__inner {
        width: 90%;
        margin-top: 300px;
        position: relative;
        height: 170px;
    }
}