@media(max-width:4000px){
    .team__page .main__section .page__background img{
        object-position: 98%!important;
    }
    .team__page .main__section{ 
        position: relative;
        height: 3810px;
        padding: 120px 0!important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .team__page  #popup__team .featured__article:after {
        display: none;
    }
    .team__main__popup .featured__article__full__copy  {
        padding-right: 35px;
    }
    .team__page .team__section .featured__wrapper .featured__article img{
        border-right: 10px #cccccc solid;
    }
    .team__page .main__section h1{
        color: #b02931;
    }
    .team__page .main__section h4{
        color: white;
        line-height: 45px;
        font-family: 'Muli';
        font-weight: normal;
        margin: 20px 0;
    }
    .team__page .main__section p{
        color: white;
        line-height: 50px;
        margin: 50px 0;
    }
    .team__page .main__section button{
        margin-top: 0px;
    }
    .team__page .main__section .container{
        margin-top: -25%;
    }
    .team__section{
        background: transparent;
    }
    .team__section .container{
        margin-top: -20%;
        padding: 200px 0 0;
    }
    .team__page .popup-content {
        width: 100%!important;
        max-width: 1200px;
        background: transparent!important;
        border: none!important;
    }
    .team__page .team__section .triangle__big {
        left: 14%;
        right: unset;
        margin: auto;
        z-index: 10;
    }
    .team__page .team__section .triangle__small {
        left: 15%;
        right: unset;
        margin: auto;
        z-index: 11;
    }
    .team__page .team__section .featured__article{
        flex-direction: row;
        padding: 0!important;
    }
    .team__page .team__section .featured__article .col-md-12{
        padding: 0px;
    }
    .team__page .team__section .featured__wrapper .featured__article img{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .team__page .team__section .featured__artitle__inner {
        width: 100%;
        top: 0;
        position: relative;
        padding: 60px 90px;
    }
    .team__page .team__section p{
        line-height: 36px;
    }
    .team__page .team__section .featured__wrapper .featured__article__content {
        margin: 10px 0;
    }
    .team__page .team__section .featured__wrapper .featured__article__cta button{
        margin-top: 20px;
    }
    .team__members {
        padding-top: 100px;
    }
    .team__members .col-sm-12{
        margin-bottom: 80px;
        padding: 0 70px 0 15px;
    }
    .team__members .team__inside h4{
        margin-top: 20px;
        font-family: 'Muli';
        font-weight: 500;
        color: #000000;
    }
    .team__members .team__inside p{
        color: #b02931;
        text-transform: uppercase;
        margin-top: 12px;
        line-height: 26px;
    }
    .team__page .team__section .featured__wrapper .featured__article__position{
        line-height: 25px;
        text-transform: uppercase;
        color: #b02931;
        margin: 12px 0;
    }
    .team__section .team__members .col-sm-12 img{
        cursor: pointer;
    }
    .team__page .team__main__popup p{
        color: #000000;
        line-height: 36px;

    }
    .team__main__popup .featured__artitle__inner {
        width: 100%;
        top: 0px;
    }
    .team__main__popup .featured__article__top{
        overflow-y: scroll;
        max-height: 600px;
    }
    .team__main__popup .featured__article{
        flex-direction: row;
    }
    .team__page .team__main__popup p {
        margin: 20px 0;
    }
    .popup_iframe iframe{
        height: 300px;
        width: 100%;
    }
    .popup__logos a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

    }
    .team__main__popup .popup__logos .featured__article__logo__desc
    {
        font-size: 14px;
        line-height: 16px;
    }
    .team__main__popup .popup__logos img{
        margin: 0;
    }
    .team__main__popup .featured__article {
        text-align: left;
        padding: 40px 30px;    
    }
    .team__main__popup .close{
        right: 22px!important;
        top: 24px!important;
    }
    .team__page .featured__article{
        position: relative;
    }
    .team__page .featured__article:after{
        content: "";
        position: absolute;
        right: 0;
        top: -30px;
        width: 1px;
        height: 590px;
        background: #cdcdcd;
        z-index: 9;
        left: -39.9px;
        margin: auto;
        bottom: 0;
    }
}
@media(max-width:3500px){
    .team__section .container {
        margin-top: -21%;
    }
    .team__page .main__section {
        height: 3449px;
    }
}
@media(max-width:3000px){
    .team__page .main__section {
        height: 2849px;
    }
    .team__section .container {
        margin-top: -22%;
    }
}
@media(max-width:2500px){
    .team__page .main__section {
        height: 2449px;
    }
}

@media(max-width:2000px){
    .team__page .main__section{ 
        height: 2150px;
    }
    .team__section .container {
        margin-top: -550px;;
    }

}
@media(max-width:1800px){

} 
@media(max-width:1600px){
    .team__page .main__section {
        height: 2000px;
    }
    .team__section .container{
        margin-top: -25%;
        padding: 50px 0 0px;
    }
    .team__page .main__section .container {
        margin-top: -34%;
    }

}
@media(max-width:1280px){
    .team__page .main__section .page__background img{
        clip-path: none;
    }
}
@media(max-width:1024px){ 
    .team__main__popup .close {
        right: 72px!important;
        top: 6px!important;
    }
    .team__page .main__section {
        height: 1710px;
    }
    .team__page .main__section .container {
        margin-top: -34%;
    }
    .featured__article {
        width: 90%;
    }
    .team__page .team__section .featured__artitle__inner {
        padding: 60px 50px;
    }
    .team__page .team__section .popup-content .close {
        right: 90px;
    }
    .team__page .team__section .triangle__small {
        left: 15%;
    }
    .team__page .team__section .featured__wrapper .featured__article img{
        height: 100%;
        position: relative;
    }
    .team__page .team__section p {
        max-width: 580px;
    }
    .team__section .container {
        margin-top: -25%;
    }
    .team__main__popup .popup__logos .featured__article__logo__desc {
        font-size: 11px;
        line-height: 12px;
    }
}
@media(max-width:768px){
    .team__page .main__section {
        height: 1770px;
    }
    .team__page .team__section .triangle__small {
        left: 15.5%;
    }
    .team__page .team__section .featured__wrapper .featured__article img{
        border-right: none;
    }
    .team__page .main__section .container {
        margin-top: -40%;
    }
    .team__page .team__section .featured__artitle__inner {
        padding: 30px 50px;
    }
    .team__page .team__section .featured__article {
        height: 900px;
        overflow: scroll;
    }
    .team__page .team__section .featured__wrapper .featured__article img {
        padding: 0;
        margin: 0;
        border-bottom: 10px #cccccc solid;
        margin-bottom: 10px;
    }
    .team__main__popup .featured__article__top {
        max-height: 280px;
        margin-bottom: 40px;
    }
    .team__main__popup .featured__article {
        height: 620px;
        overflow: scroll;
    }
    .team__main__popup .featured__article {
        padding: 40px 15px;
    }
    .team__page .featured__article:after{
        right: 33.9px;
        top: -229.1px;
        height: 250px;
        left: unset;
        bottom: 0;
    }
    .team__page .team__main__popup p {
        margin: 0px 0;
    }
}
@media(max-width:600px){
    .team__page .main__section .container {
        margin-top: 38%;
        padding: 0 40px;
    }
    .team__section .container {
        margin-top: -95%;
    }
    .team__page .main__section {
        height: 1980px;
    }
    .team__page .main__section .container {
        margin-top: -200px;
    }
    .featured__article {
        width: 98%;
    }
    .team__page .team__section .featured__artitle__inner {
        padding: 10px 15px;
    }
    .team__page .team__section .featured__wrapper .featured__article img {
        height: 290px;
    }
    .team__page .team__section .triangle__small {
        left: 17%;
        top: 6px;
    }
    .team__page .team__section .popup-content .close {
        right: 40px;
        top: 0px;
    }
    .team__page .team__section .triangle__big {
        left: 13.8%;
        top: 6px;
    }
    .team__page .team__section .featured__article {
        height: 600px;
    }
    .team__section .container {
        margin-top:0px;
        padding: 0px 40px 0px;
    }
    .team__members .col-sm-12 {
        padding: 0 15px 0 15px;
    }
    .team__main__popup .close {
        right: 32px!important;
    }
    .team__main__popup .featured__article__full__copy {
        padding-right: 17px;
    }
    .team__page .team__main__popup p {
        margin: 0px 0 25px;
    }
    .team__page .featured__article:after {
        right: 24.9px;
    }
    .popup-content .close:before, .popup-content .close:after {
        left: 19px;
        content: ' ';
        height: 23px;
    }
    .team__main__popup .featured__article {
        padding: 40px 5px;
    }
    .popup__logos .col-xs-6{
        margin: 15px 0px;
    }
    .team__main__popup .popup__logos img {
        margin: 12px 0;
    }
    .team__page .team__main__popup p {
        line-height: 25px;
    }
    .team__page .main__section p {
        line-height: 40px;
    }
    .team__page .page__background .gatsby-image-wrapper {
        filter: grayscale(1);
    }
}
@media(max-width:414px){
    .team__page .main__section {
        height: 1780px;
    }
    .team__page .main__section .container {
        margin-top: -160px;
    }
}
@media(max-width:375px){
    .team__page .main__section .container {
        margin-top: -35%;
    }
    .team__page .main__section {
        height: 1810px;
    }
}
@media(max-width:320px){
    .team__page .main__section .container {
        margin-top: -155px;
    }
    .team__page .main__section {
        height: 2180px;
    }
    .team__page .team__section .featured__article {
        height: 380px;
    }
    .team__page .team__section .featured__wrapper .featured__article img {
        height: 220px;
    }
    .team__main__popup .featured__article {
        height: 420px;
    }
    .team__page .featured__article:after {
        top: -49.1px;
    }
    .team__page .team__section .triangle__small {
        left: 17.5%;
    }
    .team__section .container {
        margin-top: 0px;
    }
}
.team__page p {
    line-height: 50px;
}
.html__custom{
    overflow: hidden;
}


#popup__main .featured__article__top::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 1px solid transparent;
    width: 1px;
    height: 50px;
  }
  #popup__main .featured__article__top::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-radius: 10px;
    height: 50px;
  }
  #popup__main .featured__article__top::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #cccccc;
    border: 5px solid transparent;
    height:50px;
    width: 1px;
  }
  @media (max-width: 960px) and (orientation: landscape) {
    .team__page .featured__article {
        height: 520px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .team__page .featured__article:after{
        display: none;
    }
    .team__page .featured__article .col-md-12{
        margin-bottom: 40px;
    }
    .team__main__popup .close {
        right: 60px!important;
    }
    .team__section .container {
        margin-top: -190px;
    }
  }
  @media (max-width: 920px) and (orientation: landscape) {
    .team__page .featured__article {
        height: 320px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
  }
  @media (max-width: 768px) and (orientation: landscape) {
    .team__page .main__section {
        height: 1970px;
    }
    .team__section .container {
        margin-top: -130px;
    }
  }
  @media (max-width: 640px) and (orientation: landscape) {
    .team__page .main__section {
        height: 1970px;
    }
    .team__section .container {
        margin-top: -110px;
    }
  }
  @media (max-width: 600px) and (orientation: landscape) {
    .team__page .featured__article {
        height: 270px;
    }
    .team__main__popup .close {
        right: 29px!important;
    }
    .team__section .container {
        margin-top: -100px;
    }
    .team__page .main__section {
        height: 1380px;
    }
  }