.footer__wrapper {
  padding: 27.14px 1.45rem;
  width: 100%;
  margin-bottom: 80px;
  background: black;
  color: gray;
}
.footer__content p {
  margin: 0;
  color: #a5a5a5;
  font-size: 13px;
  font-weight: 500;
}
.footer__content p a {
  color: #ffffff;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.footer-menu .footer-link {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 25px;
  color: gray;
}

.footer-menu .footer-link:hover {
  color: gray;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .footer-menu .footer-link {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .footer-menu {
    flex-direction: column;
  }
  .menu-wrapper {
    justify-content: center;
  }
  .footer-menu .footer-link {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .footer__content p {
    font-size: 12px;
  }
}
