
h1, h2, h3, h4, ul, li, h5, h6 {
    font-family: 'Montserrat';
    margin: 10px 0;
    text-transform: uppercase;
}
p, small, i, label, input, textarea,  select{
    font-family: 'Muli', sans-serif;
}
button{
    font-family: 'Montserrat';
}
p{
    margin: 0px;
}
a{
    text-decoration: none;
}

@media(max-width: 500px){
    button {
        font-size: 1.313rem;
        background: #b02931;
        color: white;
        padding: 15px 47px;
        letter-spacing: 1px;
        border: none;
        width: 100%;
        margin-top: 20px;
    }
}