h1, h2, h3, h4, ul, li, h5, h6 {
    font-family: 'Teko', serif;
    margin: 10px 0;
    text-transform: uppercase;
}
p, small, i, label, input, textarea, button, select{
    font-family: 'Muli', sans-serif;
}
p{
    margin: 0px;
}
a{
    text-decoration: none;
}